.ticket {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  padding: 38px;
  margin: 0 auto;
  &__img {
    width: 100%;
    height: auto;
  }
  form {
      width: 100%;
      margin:40px;
      .form-check{
          margin-top: 10px;
          margin-bottom: 20px;
          label{
               margin-left: 5px;

          }
      }
    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 10px;
      margin-bottom: 20px;
      input {
        height: 45px;
        border-radius: 0;
        border: none;
        border-bottom: 1px solid #23334f;
        padding-left: 0;
        &:focus{
            outline: none;
            border-bottom: 1px solid #ce4523;
        }
      }
      button {
          cursor: pointer;
        margin: 0.5rem 0.7rem;
        padding: 0.5rem 0.7rem;
        border-radius: 5px;
        color: #fff;
        background-color: rgb(120 72 244);
        border: none;
        font-weight: 600;
        text-decoration: none;
        &:hover {
          background-color: rgb(87, 26, 243);
        }
      }
      .invalid-feedback{
            color: red;
            margin: 5px;
      }
    }
  }
}
